<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wy.sso.user.mapper.UserDao">
    <!--注册-->
    <insert id="insertUser" parameterType="com.wy.sso.user.domain.UserInfo">
        insert into b_user (user_name,pet_name, password)
        values (#{userName},#{petName}, #{password})
    </insert>
    <update id="updateUser" parameterType="com.wy.sso.user.domain.UserInfo">
        update b_user
        <set>
            <if test="petName != null and petName != ''">pet_name = #{petName},</if>
            <if test="password != null and password != ''">password = #{password},</if>
            <if test="avatar != null and avatar != ''">avatar = #{avatar},</if>
            <if test="activated != null and activated != ''">activated = #{activated}</if>
        </set>
        where flow_id = #{flowId}
    </update>
    <!--删除用户-->
    <delete id="deleteUserById" parameterType="String">
        delete from b_user where flow_id = #{userId}
    </delete>
    <!--查询用户信息-->
    <select id="selectUserByName" parameterType="String" resultType="com.wy.sso.user.domain.UserInfo">
        select flow_id,user_name,pet_name,password,avatar,activated,create_time
        from b_user
        where user_name = #{userName}
    </select>
    <select id="selectAllUser" resultType="com.wy.sso.user.domain.UserInfo">
        select flow_id,user_name,pet_name,password,create_time
        from b_user
    </select>
    <select id="selectUserRoles" resultType="com.wy.sso.user.domain.RoleInfo">
        select r.flow_id,r.sys_id,r.role_name,r.create_time
        from b_user u inner join b_user_role ur on u.flow_id = ur.user_id
                inner join b_role r on r.flow_id = ur.role_id
        where u.flow_id = #{flowId}
    </select>
</mapper>
